
services:
  web:
    build: .
    container_name: django_app
    # command: gunicorn src.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./src:/app/src
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_NAME=testdb
      - DB_USER=bahram
      - DB_PASSWORD=bahram
      - DB_HOST=db
      - DB_PORT=5432

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: bahram
      POSTGRES_PASSWORD: bahram
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:

